@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.app {
  @apply flex z-10 relative text-slate-50 items-center flex-col min-h-screen max-w-7xl mx-auto px-6 sm:px-12 lg:px-16 xl:px-10;
}

.logo {
  @apply text-xl sm:text-2xl font-medium bg-gradient-to-tr from-teal-500 to-blue-600 inline-block text-transparent bg-clip-text;
}

.hero-image {
  @apply -z-10 mx-auto sm:mx-0 relative w-[260px] h-[260px] sm:w-[320px] sm:h-[320px] xl:w-[500px] xl:h-[500px] flex-grow-0 flex-shrink-0 rounded-full overflow-hidden;
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: linear-gradient(135deg, #050811 0, #212250 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}
